body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* working on header */
.navbar {
  background-color: rgb(163, 155, 155);
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

.navlinks a {
  text-decoration: none;
}

a:hover {
  color: #b33b72;
}

.navbar-logo {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

input {
  padding-left: 5px;
  padding: 8px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}

/* working on info section */
.info {
  background-color: rgb(247, 240, 240);
  background-image: url("https://media.istockphoto.com/id/1473673099/photo/mockup-poster-frame-on-the-wall-of-living-room-luxurious-apartment-background-with.jpg?s=612x612&w=is&k=20&c=cWY2cBNVeeVgMWIoUVVNhymgXVoSlLgIEk7F37jxHDo=");
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 50px;
}

.info-header {
  font-size: 30px;
  font-weight: bold;
}

.info-p {
  font-weight: bold;
  margin-bottom: 20px;
}

.info-next {
  background-color: #b33b72;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: max-content;
}

/* working on services section */
.icons-section {
  background-color: rgb(247, 240, 240);
  padding: 40px 50px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .icons-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* working on footer */
footer {
  background-color: rgb(163, 155, 155);
  color: white;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}
